.MuiAccordionDetails-root .text {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.MuiAccordionDetails-root .text h4 {
  margin-right: 2px;
}
.reports-filter{
  display: flex;
  gap: 6px;
  padding: 0px 20px;
  margin-bottom: 15px;
}